h1 {
    border-style: solid;
    background-color: black;
    font-size: 32px;
    color: navajowhite;
    font-weight: bold;
    border-width: 5px;
    border-color: #00A4BD #33475B #FF7A59;
    width: 480px;
    padding: 10px;
    box-shadow: 4px 4px #00A4BD, 8px 8px #FF7A59, 12px 12px #334758;
}

h2 {
    font-weight: bolder;
    font-size: 25px;
}

.testbtn {
    width: auto;
    height: auto;
    color: red;
}

footer {
    text-align: center;
    font-weight: bold;
    font-family: Chiller;
    font-size: 18px;
    background-color: cadetblue;
    padding: 20px;
    margin-top: auto;
    border-block: solid;
    border-block-color: darkblue;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

button {
    cursor: pointer;
    background-color: mintcream;
    border-block-color: black;
    border-radius: 3px;
}

.panda {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 60px;
    height: 80px;
}

.crud-form label {
    font-size: 18px;
    font-weight: bold;
}

.crud-form button {
    grid-column: span 2;
    cursor: pointer;
    background-color: mintcream;
    border-radius: 4px;
}

.crud-form {
    width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    gap: 10px;
    background-color: lightsalmon;
    border-style: solid;
    border-width: 2px;
    border-radius: 1px;
}

.hidden {
    display: none;
}

button[data-operation='deleteItem'] {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    background-color: mintcream;
    border-block: solid;
    border-color: black;
    border-width: 4px;
}

button[data-operation='editItem'] {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: bold;
    background-color: mintcream;
    border-block: solid;
    border-width: 3px;
    border-color: black;
}

button[data-operation='AddItem'] {
    font-weight: bold;
    background-color: mintcream;
    border-block: solid;
    border-width: 3px;
    border-color: black;
}

.item-info input {
    margin-right: 40px;
}

.item-info {
    background-color: lightsalmon;
    display: grid;
    grid-template: repeat(2,1fr)/auto 1fr;
    gap: 4px;
    padding: 40px;
    position: relative;
    border-style: solid;
    border-color: darkred;
    border-width: 4px;
    border-radius: 5px;
}

.crud-form label {
    font-size: 18px;
    font-weight: bold;
}

.crud-form button {
    grid-column: span 2;
    cursor: pointer;
    font-weight: bold;
    background-color: mintcream;
    border-block: solid;
    border-width: 3px;
}

#shoppingList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.left-align-list {
    margin-left: 0px;
    padding-left: 0.5px;
}

#sortButton {
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

    #sortButton:hover {
        background-color: red; /* White background on hover */
        color: white; /* Green text color on hover */
        border: 2px solid blue; /* Green border on hover */
        padding: 10px;
    }

button:hover {
    background-color: white; /* White background on hover */
    color: black; /* Green text color on hover */
    border: 2px solid blue; /* Green border on hover */
    padding: 5px;
}
